In [599]:
import pymongo
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [600]:
client = MongoClient('localhost', 27017)

In [601]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [602]:
db = client.launch_week_2

In [603]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'launch_week_2')

In [604]:
city = pd.read_csv('CITIES.csv')
course = pd.read_csv('COURSES.csv')
prof = pd.read_csv('PROFS.csv')
school = pd.read_csv('SCHOOLS.csv')
student = pd.read_csv('STUDENTS.csv')

In [605]:
school

,school_id,name,size,year_founded,dean_chair,num_majors
0,SEAS,School of Engineering and Applied Science,3589,1901,Rodil,9
1,CAS,College of Arts and Sciences,7301,1872,Alvarado,152
2,LAW,Law School,832,1821,Yashtz,4
3,BUS,Darden School of Business,122,1971,Sialsd,3
4,COM,Mcintire School of Commerce,357,1923,Najir,11
5,NUR,School of Nursing,1201,1900,Mcdonnel,17
6,CPS,School of Continuing and Professional Studies,11,2001,Arrington,2
7,ARCH,School of Architecture,123,1989,Kim,5

In [606]:
collection = db.students

In [607]:
our_city = city[city['city_id'] == 3]

temp_city= our_city.iloc[0]
city_dict = {}
for b in range(len(temp_city)):
    city_dict[temp_city.index[b]] = temp_city[b]
print(city_dict)

# for k in range(len(city)):
#     temp_city = city.iloc[k]
#     print(temp_city)

{'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': 300286}

In [608]:
def makeDict(df, j):
    temp = df[df[temp_stud.index[j]] == temp_stud[j]].iloc[0]
    df_dict = {}
    for b in range(len(temp)):
        if isinstance(temp[b], np.int64):
            temp[b] = int(temp[b])
        elif isinstance(temp[b], np.bool_):
            temp[b] = bool(temp[b])
        df_dict[temp.index[b]] = temp[b]
        #print(type(temp[b]))
    student_dict[temp_stud.index[j]] = df_dict

In [609]:
all_student_dicts = []
for i in range(len(student)):
    temp_stud = student.iloc[i]
    student_dict = {}
    for j in range(len(temp_stud)):
        if temp_stud.index[j] == 'city_id':
            makeDict(city, j)
        elif temp_stud.index[j] == 'course_id':
            makeDict(course,j)
        elif temp_stud.index[j] == 'school_id':
            makeDict(school, j)
        else:
            student_dict[temp_stud.index[j]] = temp_stud[j]
    print(student_dict)
    all_student_dicts.append(student_dict)
    print("\n\n\n")

{'computing_id': 'csksnj', 'first_name': 'Courtney', 'last_name': 'Kennedy', 'dob': '10/22/2000', 'city_id': {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': 300286}, 'course_id': {'course_id': 'SYS 2202', 'school_id': 'SEAS', 'dept': 'SYS ', 'credits': 3, 'prof_id': 7}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}}




{'computing_id': 'ztk2qv', 'first_name': 'Zachery', 'last_name': 'Key', 'dob': '6/20/2000', 'city_id': {'city_id': 4, 'zipcode': 24523, 'city': 'Bedford', 'state': 'Virginia', 'football': 'Liberty Minutemen', 'hockey': 'Bedford Beds', 'baseball': 'Bedford Bases', 'basketball': 'Bedford Baskets', 'pop_size': 6562}, 'course_id': {'course_id': 'ARCH 3200', 'school_id': 'ARCH', 'dept': 'ARCH ', 'credits': 3, 'prof_id': 11}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}}




{'computing_id': 'jms6vb', 'first_name': 'Jon Marco', 'last_name': 'Sanchez', 'dob': '4/20/1969', 'city_id': {'city_id': 2, 'zipcode': 24014, 'city': 'Roanoke', 'state': 'Virginia', 'football': 'Roanoke Steam', 'hockey': 'Roanoke Rail Yard Dawgs', 'baseball': 'Salem Red Sox', 'basketball': 'Roanoke Maroons', 'pop_size': 99229}, 'course_id': {'course_id': 'SYS 3034', 'school_id': 'SEAS', 'dept': 'SYS ', 'credits': 3, 'prof_id': 5}, 'school_id': {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}}




{'computing_id': 'ac9kf', 'first_name': 'Arwen', 'last_name': 'Chandler', 'dob': '3/12/2002', 'city_id': {'city_id': 1, 'zipcode': 22031, 'city': 'Fairfax', 'state': 'Virginia', 'football': 'Fairfax Rebels', 'hockey': 'Fairfax Narwhals', 'baseball': 'Burke Bulldogs', 'basketball': 'Fairfax Foxes', 'pop_size': 23531}, 'course_id': {'course_id': 'KINE 1010', 'school_id': 'NUR', 'dept': 'KINE', 'credits': 1, 'prof_id': 6}, 'school_id': {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}}




{'computing_id': 'tes2fl', 'first_name': 'Taylor', 'last_name': 'Swift', 'dob': '12/13/1989', 'city_id': {'city_id': 10, 'zipcode': 94016, 'city': 'San Francisco', 'state': 'California', 'football': 'San Francisco 49ers', 'hockey': 'San Francisco Seals', 'baseball': 'San Francisco Giants', 'basketball': 'Golden State Warriors', 'pop_size': 874961}, 'course_id': {'course_id': 'CS 2150', 'school_id': 'SEAS', 'dept': 'CS', 'credits': 3, 'prof_id': 2}, 'school_id': {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}}




{'computing_id': 'jfe9fu', 'first_name': 'Joe', 'last_name': 'Exotic', 'dob': '3/5/1963', 'city_id': {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': 300286}, 'course_id': {'course_id': 'ENWR 1000', 'school_id': 'CAS', 'dept': 'ENWR', 'credits': 3, 'prof_id': 3}, 'school_id': {'school_id': 'COM', 'name': 'Mcintire School of Commerce ', 'size ': 357, 'year_founded': 1923, 'dean_chair': 'Najir', 'num_majors': 11}}




{'computing_id': 'ggf2re', 'first_name': 'Guy', 'last_name': 'Fieri', 'dob': '1/22/1968', 'city_id': {'city_id': 7, 'zipcode': 60007, 'city': 'Chicago', 'state': 'Illinois', 'football': 'Chicago Bears', 'hockey': 'Chicago Blackhawks', 'baseball': 'Chicago Cubs', 'basketball': 'Chicago Bulls', 'pop_size': 2693976}, 'course_id': {'course_id': 'SYS 2202', 'school_id': 'SEAS', 'dept': 'SYS ', 'credits': 3, 'prof_id': 7}, 'school_id': {'school_id': 'COM', 'name': 'Mcintire School of Commerce ', 'size ': 357, 'year_founded': 1923, 'dean_chair': 'Najir', 'num_majors': 11}}




{'computing_id': 'jeb1cu', 'first_name': 'Justin', 'last_name': 'Bieber', 'dob': '3/1/1994', 'city_id': {'city_id': 13, 'zipcode': 19019, 'city': 'Philadelphia', 'state': 'Pennsylvania', 'football': 'Philadelphia Eagles', 'hockey': 'Philadelphia Flyers', 'baseball': 'Philadelphia Phillies', 'basketball': 'Philadelphia 76ers', 'pop_size': 1526006}, 'course_id': {'course_id': 'SYS 2001', 'school_id': 'SEAS', 'dept': 'SYS', 'credits': 3, 'prof_id': 1}, 'school_id': {'school_id': 'NUR', 'name': 'School of Nursing ', 'size ': 1201, 'year_founded': 1900, 'dean_chair': 'Mcdonnel', 'num_majors': 17}}




{'computing_id': 'tej9ab', 'first_name': 'Thomas', 'last_name': 'Jefferson', 'dob': '4/13/1743', 'city_id': {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': 300286}, 'course_id': {'course_id': 'CS 2150', 'school_id': 'SEAS', 'dept': 'CS', 'credits': 3, 'prof_id': 2}, 'school_id': {'school_id': 'LAW', 'name': 'Law School ', 'size ': 832, 'year_founded': 1821, 'dean_chair': 'Yashtz ', 'num_majors': 4}}

In [610]:
def makeInnerDict(key, person_arg, innerKey, innerDf):
    curr_dict = person_arg.get(key)
    curr_dict_id = curr_dict.get(innerKey)
    inner_row = innerDf.loc[innerDf[innerKey] == curr_dict_id]
    inner_row = inner_row.squeeze()
    inner_dictionary = inner_row.to_dict()
    for k, v in inner_dictionary.items():
        if isinstance(v, np.int64):
            v = int(v)
            inner_dictionary[k] = v;
        elif isinstance(v, np.bool_):
            v = bool(v)
            inner_dictionary[k] = v;
    curr_dict[innerKey] = inner_dictionary
    
    """curr_course_dict = person.get('course_id')
    curr_school_id = curr_course_dict.get('school_id')
    school_row = school.loc[school['school_id'] == curr_school_id]
    school_row = school_row.squeeze()
    school_dictionary = school_row.to_dict()
    curr_course_dict['school_id'] = school_dictionary
    print(curr_course_dict)
    print("\n\n")"""

In [611]:
for person in all_student_dicts:
    makeInnerDict('course_id', person, 'school_id', school)
    makeInnerDict('course_id', person, 'prof_id', prof)
    curr_prof = person.get('course_id')
    makeInnerDict('prof_id', curr_prof, 'school_id', school)
    makeInnerDict('prof_id', curr_prof, 'city_id', city)
    for key, value in person.items():
        if isinstance(value, np.int64):
            value = int(value)
            person[key] = value;
        elif isinstance(value, np.bool_):
            value = bool(value)
            person[key] = value;
        print(key, ' : ', value)
    print("\n\n")

computing_id  :  csksnj
first_name  :  Courtney
last_name  :  Kennedy
dob  :  10/22/2000
city_id  :  {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': 300286}
course_id  :  {'course_id': 'SYS 2202', 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'dept': 'SYS ', 'credits': 3, 'prof_id': {'prof_id': 7, 'prof_name': 'Reem Doryab', 'city_id': {'city_id': 8, 'zipcode': 21201, 'city': 'Baltimore', 'state': 'Maryland', 'football': 'Baltimore Ravens', 'hockey': 'Baltimore Clippers', 'baseball': 'Baltimore Orioles', 'basketball': 'Washington Wizards', 'pop_size': 609032}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'years_worked': 1, 'tenure': True, 'dept': 'SYS'}}
school_id  :  {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}



computing_id  :  ztk2qv
first_name  :  Zachery
last_name  :  Key
dob  :  6/20/2000
city_id  :  {'city_id': 4, 'zipcode': 24523, 'city': 'Bedford', 'state': 'Virginia', 'football': 'Liberty Minutemen', 'hockey': 'Bedford Beds', 'baseball': 'Bedford Bases', 'basketball': 'Bedford Baskets', 'pop_size': 6562}
course_id  :  {'course_id': 'ARCH 3200', 'school_id': {'school_id': 'ARCH', 'name': 'School of Architecture ', 'size ': 123, 'year_founded': 1989, 'dean_chair': 'Kim', 'num_majors': 5}, 'dept': 'ARCH ', 'credits': 3, 'prof_id': {'prof_id': 11, 'prof_name': 'Dennis Finestein', 'city_id': {'city_id': 2, 'zipcode': 24014, 'city': 'Roanoke', 'state': 'Virginia', 'football': 'Roanoke Steam', 'hockey': 'Roanoke Rail Yard Dawgs', 'baseball': 'Salem Red Sox', 'basketball': 'Roanoke Maroons', 'pop_size': 99229}, 'school_id': {'school_id': 'ARCH', 'name': 'School of Architecture ', 'size ': 123, 'year_founded': 1989, 'dean_chair': 'Kim', 'num_majors': 5}, 'years_worked': 5, 'tenure': False, 'dept': 'ARCH'}}
school_id  :  {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}



computing_id  :  jms6vb
first_name  :  Jon Marco
last_name  :  Sanchez
dob  :  4/20/1969
city_id  :  {'city_id': 2, 'zipcode': 24014, 'city': 'Roanoke', 'state': 'Virginia', 'football': 'Roanoke Steam', 'hockey': 'Roanoke Rail Yard Dawgs', 'baseball': 'Salem Red Sox', 'basketball': 'Roanoke Maroons', 'pop_size': 99229}
course_id  :  {'course_id': 'SYS 3034', 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'dept': 'SYS ', 'credits': 3, 'prof_id': {'prof_id': 5, 'prof_name': 'Reed Bailey', 'city_id': {'city_id': 5, 'zipcode': 90001, 'city': 'Los Angeles', 'state': 'California', 'football': 'LA Chargers', 'hockey': 'LA Kings', 'baseball': 'LA Dodgers', 'basketball': 'LA Lakers', 'pop_size': 3979576}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'years_worked': 4, 'tenure': False, 'dept': 'SYS'}}
school_id  :  {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}



computing_id  :  ac9kf
first_name  :  Arwen
last_name  :  Chandler
dob  :  3/12/2002
city_id  :  {'city_id': 1, 'zipcode': 22031, 'city': 'Fairfax', 'state': 'Virginia', 'football': 'Fairfax Rebels', 'hockey': 'Fairfax Narwhals', 'baseball': 'Burke Bulldogs', 'basketball': 'Fairfax Foxes', 'pop_size': 23531}
course_id  :  {'course_id': 'KINE 1010', 'school_id': {'school_id': 'NUR', 'name': 'School of Nursing ', 'size ': 1201, 'year_founded': 1900, 'dean_chair': 'Mcdonnel', 'num_majors': 17}, 'dept': 'KINE', 'credits': 1, 'prof_id': {'prof_id': 6, 'prof_name': 'Rose Bud', 'city_id': {'city_id': 7, 'zipcode': 60007, 'city': 'Chicago', 'state': 'Illinois', 'football': 'Chicago Bears', 'hockey': 'Chicago Blackhawks', 'baseball': 'Chicago Cubs', 'basketball': 'Chicago Bulls', 'pop_size': 2693976}, 'school_id': {'school_id': 'NUR', 'name': 'School of Nursing ', 'size ': 1201, 'year_founded': 1900, 'dean_chair': 'Mcdonnel', 'num_majors': 17}, 'years_worked': 4, 'tenure': False, 'dept': 'KINE'}}
school_id  :  {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}



computing_id  :  tes2fl
first_name  :  Taylor
last_name  :  Swift
dob  :  12/13/1989
city_id  :  {'city_id': 10, 'zipcode': 94016, 'city': 'San Francisco', 'state': 'California', 'football': 'San Francisco 49ers', 'hockey': 'San Francisco Seals', 'baseball': 'San Francisco Giants', 'basketball': 'Golden State Warriors', 'pop_size': 874961}
course_id  :  {'course_id': 'CS 2150', 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'dept': 'CS', 'credits': 3, 'prof_id': {'prof_id': 2, 'prof_name': 'Aaron Bloomfield', 'city_id': {'city_id': 2, 'zipcode': 24014, 'city': 'Roanoke', 'state': 'Virginia', 'football': 'Roanoke Steam', 'hockey': 'Roanoke Rail Yard Dawgs', 'baseball': 'Salem Red Sox', 'basketball': 'Roanoke Maroons', 'pop_size': 99229}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'years_worked': 1, 'tenure': False, 'dept': 'CS'}}
school_id  :  {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}



computing_id  :  jfe9fu
first_name  :  Joe
last_name  :  Exotic
dob  :  3/5/1963
city_id  :  {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': 300286}
course_id  :  {'course_id': 'ENWR 1000', 'school_id': {'school_id': 'CAS', 'name': 'College of Arts and Sciences ', 'size ': 7301, 'year_founded': 1872, 'dean_chair': 'Alvarado ', 'num_majors': 152}, 'dept': 'ENWR', 'credits': 3, 'prof_id': {'prof_id': 3, 'prof_name': 'Maya Pittman', 'city_id': {'city_id': 13, 'zipcode': 19019, 'city': 'Philadelphia', 'state': 'Pennsylvania', 'football': 'Philadelphia Eagles', 'hockey': 'Philadelphia Flyers', 'baseball': 'Philadelphia Phillies', 'basketball': 'Philadelphia 76ers', 'pop_size': 1526006}, 'school_id': {'school_id': 'ARCH', 'name': 'School of Architecture ', 'size ': 123, 'year_founded': 1989, 'dean_chair': 'Kim', 'num_majors': 5}, 'years_worked': 4, 'tenure': True, 'dept': 'ARCH'}}
school_id  :  {'school_id': 'COM', 'name': 'Mcintire School of Commerce ', 'size ': 357, 'year_founded': 1923, 'dean_chair': 'Najir', 'num_majors': 11}



computing_id  :  ggf2re
first_name  :  Guy
last_name  :  Fieri
dob  :  1/22/1968
city_id  :  {'city_id': 7, 'zipcode': 60007, 'city': 'Chicago', 'state': 'Illinois', 'football': 'Chicago Bears', 'hockey': 'Chicago Blackhawks', 'baseball': 'Chicago Cubs', 'basketball': 'Chicago Bulls', 'pop_size': 2693976}
course_id  :  {'course_id': 'SYS 2202', 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'dept': 'SYS ', 'credits': 3, 'prof_id': {'prof_id': 7, 'prof_name': 'Reem Doryab', 'city_id': {'city_id': 8, 'zipcode': 21201, 'city': 'Baltimore', 'state': 'Maryland', 'football': 'Baltimore Ravens', 'hockey': 'Baltimore Clippers', 'baseball': 'Baltimore Orioles', 'basketball': 'Washington Wizards', 'pop_size': 609032}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'years_worked': 1, 'tenure': True, 'dept': 'SYS'}}
school_id  :  {'school_id': 'COM', 'name': 'Mcintire School of Commerce ', 'size ': 357, 'year_founded': 1923, 'dean_chair': 'Najir', 'num_majors': 11}



computing_id  :  jeb1cu
first_name  :  Justin
last_name  :  Bieber
dob  :  3/1/1994
city_id  :  {'city_id': 13, 'zipcode': 19019, 'city': 'Philadelphia', 'state': 'Pennsylvania', 'football': 'Philadelphia Eagles', 'hockey': 'Philadelphia Flyers', 'baseball': 'Philadelphia Phillies', 'basketball': 'Philadelphia 76ers', 'pop_size': 1526006}
course_id  :  {'course_id': 'SYS 2001', 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'dept': 'SYS', 'credits': 3, 'prof_id': {'prof_id': 1, 'prof_name': 'Brian Smith', 'city_id': {'city_id': 1, 'zipcode': 22031, 'city': 'Fairfax', 'state': 'Virginia', 'football': 'Fairfax Rebels', 'hockey': 'Fairfax Narwhals', 'baseball': 'Burke Bulldogs', 'basketball': 'Fairfax Foxes', 'pop_size': 23531}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'years_worked': 6, 'tenure': True, 'dept': 'SYS'}}
school_id  :  {'school_id': 'NUR', 'name': 'School of Nursing ', 'size ': 1201, 'year_founded': 1900, 'dean_chair': 'Mcdonnel', 'num_majors': 17}



computing_id  :  tej9ab
first_name  :  Thomas
last_name  :  Jefferson
dob  :  4/13/1743
city_id  :  {'city_id': 3, 'zipcode': 15238, 'city': 'Pittsburgh', 'state': 'Pennsylvania', 'football': 'Pittsburgh Steelers', 'hockey': 'Pittsburgh Penguins', 'baseball': 'Pittsburgh Pirates', 'basketball': 'Pittsburgh Panthers', 'pop_size': 300286}
course_id  :  {'course_id': 'CS 2150', 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'dept': 'CS', 'credits': 3, 'prof_id': {'prof_id': 2, 'prof_name': 'Aaron Bloomfield', 'city_id': {'city_id': 2, 'zipcode': 24014, 'city': 'Roanoke', 'state': 'Virginia', 'football': 'Roanoke Steam', 'hockey': 'Roanoke Rail Yard Dawgs', 'baseball': 'Salem Red Sox', 'basketball': 'Roanoke Maroons', 'pop_size': 99229}, 'school_id': {'school_id': 'SEAS', 'name': 'School of Engineering and Applied Science', 'size ': 3589, 'year_founded': 1901, 'dean_chair': 'Rodil ', 'num_majors': 9}, 'years_worked': 1, 'tenure': False, 'dept': 'CS'}}
school_id  :  {'school_id': 'LAW', 'name': 'Law School ', 'size ': 832, 'year_founded': 1821, 'dean_chair': 'Yashtz ', 'num_majors': 4}

In [612]:
for person in all_student_dicts:
    collection.insert_one(person)